<div class="span12">
  <fieldset class="collapsible" style="margin-bottom:20px;">
    <legend>Контакты</legend>
    <div class="span11 contact-table" style = "font-size:12px;">
    <table class="table contacts-table">
              <thead>
                <tr>
                  <th><strong>ФИО</strong></th>
                  <th><strong>Эл. почта</strong></th>
                  <th><strong>Телефон</strong></th>
                  <th><strong>Должность</strong></th>
                  <th><strong>Статус</strong></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
            <div class="text-left" style="margin-bottom:10px;">
              <a href="javascript:;" class="btn new-contact">Добавить контакт</a>
            </div>
    </div>
    <div class="span11 contact-form form-horizontal collapse-box" style="display:none;"></div>
</fieldset>
</div>

