<table class="itogotable table-bordered table" >
      <thead>
        <tr>
        <th></th>
        <th colspan="4">Новые<span class="period"></span></th>
        <th colspan="4" class ='left-black-border'>Старые</th>
        <th colspan="4" class ='left-black-border'>Всего</th>
        </tr>
        <tr>
          <th></th>
          <th>шт.</th>
          <th>сумма</th>
          <th>площадь, м<sup>2</sup></th>
          <th>ср. за м<sup>2</sup></th>
          <th class ='left-black-border'>шт.</th>
          <th>сумма</th>
          <th>площадь, м<sup>2</sup></th>
          <th>ср. за м<sup>2</sup></th>
          <th class ='left-black-border'>шт.</th>
          <th>сумма</th>
          <th>площадь, м<sup>2</sup></th>
          <th>ср. за м<sup>2</sup></th>
        </tr>
      </thead>
      <tbody class="itogo-table1">
      </tbody>
    </table>
    <table class="itogotable table-bordered table">
      <tbody class="itogo-client-block">
        <tr>
          <td class="caption" colspan="2"><strong>Клиенты</strong></td>
          <td>Новых: <span class="new-clients"></span></td>
          <td>Старых: <span class="old-clients"></span></td>
          <td>По рекомендации: <span class="rec-clients"></span></td>
        </tr>
      </tbody>
    </table>