<style>
    .selectize-control.client-contacts {
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .enter-history {
        overflow: hidden !important;
    }
    .select-item-title, select-item-note i, .selectize-input .name {
        font-size: 12px;
    }
    .select-item {
        max-height: 36px;
        padding: 1px 7px 7px !important;
        margin: 0 !important;
        border-bottom: 1px solid #D3D3D3 !important;
    }
    .selectize-dropdown-content {
        height: 125px !important;
    }
    .selectize-input {
        height: 31px !important;
        padding: 4px 10px;
    }
    .condition-select {

    }
</style>

<table class="table history-table">
  <caption class="text-left"><strong>История статусов:</strong></caption>
  <thead>
    <tr>
      <th><strong>Дата</strong></th>
      <th><strong>Название статуса</strong></th>
      <th><strong>Примечание</strong></th>
      <th><strong>Пользователь</strong></th>
      <!--<th><strong><nowrap>Конт.&nbsp;лицо</nowrap></strong></th>-->
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
