!temp/.gitkeep
*.css.map
*.DS_Store
*.pyc
*.sublime-project
*.sublime-workspace
/.env
/.idea/
/.timeline-build
/.vs/
/deploy/mongo/db/
/deploy/nginx/ssl/*.key
/deploy/nginx/ssl/*.pem
/deploy/redis/db/dump.rdb
/static/scripts/crm/build
/var
compilerconfig.json
compilerconfig.json.defaults
int.pyproj
int.sln
node_modules
packages
packages.config
temp/*
venv
