#esud_calculation {
  float: left;
  width: 100%; }
  #esud_calculation .input-prepend {
    margin-bottom: 0px !important; }
  #esud_calculation .input-append {
    margin-bottom: 0px !important; }
  #esud_calculation .btn {
    margin: 0px; }
  #esud_calculation .tberr {
    background-color: #f00; }
  #esud_calculation .cb {
    float: left; }
  #esud_calculation .bold {
    font-weight: bold !important; }
  #esud_calculation .font24 {
    font-size: 24px !important; }
  #esud_calculation .font16 {
    font-size: 16px !important; }
  #esud_calculation .font18 {
    font-size: 18px !important; }
  #esud_calculation .font14 {
    font-size: 14px !important; }
  #esud_calculation .font12 {
    font-size: 12px !important; }
  #esud_calculation .color-grey {
    color: #333 !important; }
  #esud_calculation .color-lightgrey {
    color: #999 !important; }
  #esud_calculation .color-black {
    color: #000 !important; }
  #esud_calculation .color-blue {
    color: #4384e6 !important; }
  #esud_calculation .color-red {
    color: #ff0316; }
  #esud_calculation .color-yellow {
    color: #ffff00 !important; }
  #esud_calculation .tb-count {
    width: 100px; }
  #esud_calculation .navbar {
    margin-bottom: 10px; }
  #esud_calculation #product_info {
    font-size: 20px;
    margin-bottom: 20px; }
    #esud_calculation #product_info a {
      color: #000; }
      #esud_calculation #product_info a:hover {
        color: #000; }
  #esud_calculation .data-body {
    float: left;
    width: 100%;
    margin-top: 15px; }
    #esud_calculation .data-body .lbl-header {
      font-size: 20px; }
    #esud_calculation .data-body .line {
      width: 100%;
      float: left; }
    #esud_calculation .data-body .data-header .item {
      float: left;
      font-weight: bold;
      padding: 3px;
      font-size: 1.0em; }
    #esud_calculation .data-body .data-options {
      border-top: solid 1px #ccc;
      padding-top: 20px;
      margin-top: 10px; }
    #esud_calculation .data-body .data-container .data {
      width: 100%; }
      #esud_calculation .data-body .data-container .data thead {
        font-weight: bold; }
      #esud_calculation .data-body .data-container .data td {
        padding: 4px;
        vertical-align: top; }
      #esud_calculation .data-body .data-container .data .cb-templates-combo {
        display: inline;
        position: relative;
        opacity: 1;
        margin-right: 5px; }
    #esud_calculation .data-body .data-container .bordered td {
      border: solid 1px #ccc; }
  #esud_calculation .css-treeview {
    overflow: hidden; }
    #esud_calculation .css-treeview label.h1 {
      font-size: 18px; }
    #esud_calculation .css-treeview li.h1 {
      margin-top: 1px;
      border: solid 1px #ddd;
      border-top: 0px; }
    #esud_calculation .css-treeview label.h2 {
      font-size: 16px; }
    #esud_calculation .css-treeview li.h2 {
      margin-top: 0px; }
    #esud_calculation .css-treeview label.h3 {
      font-size: 14px; }
    #esud_calculation .css-treeview li.h3 {
      margin-top: 0px; }
    #esud_calculation .css-treeview label.h4 {
      font-size: 14px; }
    #esud_calculation .css-treeview li.h4 {
      margin-top: 0px; }
    #esud_calculation .css-treeview label.h5 {
      font-size: 12px; }
    #esud_calculation .css-treeview li.h5 {
      margin-top: 0px; }
    #esud_calculation .css-treeview li.lbl-info {
      color: #666;
      font-size: 12px; }
    #esud_calculation .css-treeview li {
      box-sizing: border-box;
      padding: 0px 2px 0px 2px; }
    #esud_calculation .css-treeview .lbl-item {
      width: 100%;
      position: relative;
      padding-left: 14px; }
      #esud_calculation .css-treeview .lbl-item::before {
        position: absolute;
        left: 0px;
        top: 6px; }
    #esud_calculation .css-treeview .lbl-in {
      padding: 4px;
      float: left; }
    #esud_calculation .css-treeview .lbl-plus {
      z-index: 10; }
    #esud_calculation .css-treeview label {
      margin: 0px; }
  #esud_calculation .in-info {
    width: 100%;
    font-size: 11px;
    margin-bottom: 5px; }
    #esud_calculation .in-info td {
      padding: 4px;
      vertical-align: top; }
    #esud_calculation .in-info tbody td {
      border: dotted 1px #ccc; }
    #esud_calculation .in-info .tr-comment td {
      border: solid 1px #ccc;
      border-top: none; }
    #esud_calculation .in-info thead {
      font-weight: bold; }
      #esud_calculation .in-info thead td {
        border: dotted 1px #ccc; }
    #esud_calculation .in-info tr.head {
      font-weight: bold; }
  #esud_calculation .control-panel {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    width: 100%;
    border-top: solid 1px #999;
    padding-top: 10px; }
    #esud_calculation .control-panel .btn {
      float: right;
      margin-left: 10px; }

.bootbox-confirm.modal {
  width: 450px;
  margin-left: -175px; }

/*# sourceMappingURL=esudcalculation.css.map */
