#app .foreground,
#app .background {
  fill: none;
  pointer-events: all; }

#app .notify {
  fill: none;
  pointer-events: all;
  cursor: pointer;
  display: none; }

#app #canvas > .background {
  cursor: -webkit-grab; }
  #app #canvas > .background.panning {
    cursor: -webkit-grabbing; }

#app #today {
  pointer-events: all;
  opacity: 0.5; }
  #app #today rect {
    fill: #707ED7; }
  #app #today line {
    stroke: #3142b0; }

#app #day-highlight {
  pointer-events: all;
  opacity: 0.4; }
  #app #day-highlight rect {
    fill: #fffbaa; }

#app #grid path,
#app #grid line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges; }

#app #grid .tick.major line {
  stroke: #eee; }

#app #grid .tick.minor {
  stroke: #eee; }

#app #grid .weekend {
  fill: #eee;
  fill-opacity: 0.5; }

#app #grid .month-ticks {
  opacity: 0.5; }
  #app #grid .month-ticks .tick {
    stroke: #000; }

#app #horizontal-grid line {
  fill: none;
  stroke: #999;
  stroke-width: 1;
  shape-rendering: crispEdges; }

defs #plan-shift-arrow,
defs #plan-shift-dot {
  fill: #777;
  stroke: white;
  stroke-width: 1px;
  stroke-dasharray: 0; }

#app #timelines {
  pointer-events: all; }
  #app #timelines .timelines-container {
    cursor: pointer; }
    #app #timelines .timelines-container .plan-timeline .date-range {
      fill: rgba(102, 153, 102, 0.3); }
    #app #timelines .timelines-container .plan-timeline .date-intervals rect {
      fill: #696; }
    #app #timelines .timelines-container .plan-timeline .contract-date-intervals rect {
      fill: #0066cc;
      y: -3; }
    #app #timelines .timelines-container .plan-timeline .contract-date-range {
      fill: rgba(0, 102, 204, 0.3);
      y: -3; }
    #app #timelines .timelines-container .fact-timeline .date-range {
      fill: rgba(153, 102, 102, 0.3); }
    #app #timelines .timelines-container .fact-timeline .date-intervals rect {
      fill: #966; }
    #app #timelines .timelines-container.hover .plan-timeline .date-range {
      fill: rgba(0, 153, 0, 0.3); }
    #app #timelines .timelines-container.hover .plan-timeline .date-intervals rect {
      fill: #090;
      stroke: #090;
      stroke-width: 2; }
    #app #timelines .timelines-container.hover .fact-timeline .date-range {
      fill: rgba(255, 0, 0, 0.3); }
    #app #timelines .timelines-container.hover .fact-timeline .date-intervals rect {
      fill: #f00; }
    #app #timelines .timelines-container .plan-shifts .line-start,
    #app #timelines .timelines-container .plan-shifts .line-finish {
      stroke: white;
      stroke-width: 1;
      stroke-dasharray: 2,2;
      fill: none; }
    #app #timelines .timelines-container .plan-shifts .line-start-shadow,
    #app #timelines .timelines-container .plan-shifts .line-finish-shadow {
      stroke: #aaa;
      stroke-width: 1;
      stroke-dasharray: 2,2;
      stroke-dashoffset: 2;
      fill: none; }
    #app #timelines .timelines-container .statuses .done-label {
      opacity: 0.5;
      font-size: 17px;
      font-weight: bolder;
      text-anchor: middle;
      dominant-baseline: central;
      text-shadow: 0px 0px 1px white; }
    #app #timelines .timelines-container .statuses .line {
      stroke-width: .3px;
      opacity: 0.3; }
    #app #timelines .timelines-container .statuses .badge.key {
      stroke-width: 4px; }
    #app #timelines .timelines-container .statuses .pauses {
      stroke: #3c3cbe;
      fill: #8787d9; }
    #app #timelines .timelines-container .statuses .works_with_reject {
      stroke: #3c3cbe;
      fill: #8787d9; }
    #app #timelines .timelines-container .statuses .work_with_reject {
      stroke: #3c3cbe;
      fill: #8787d9; }
    #app #timelines .timelines-container .statuses .holds {
      stroke: #000;
      fill: #333333; }
    #app #timelines .timelines-container .statuses .nodata {
      stroke: black;
      fill: white; }
    #app #timelines .timelines-container.child .plan-timeline .date-range {
      fill: rgba(0, 153, 0, 0.3); }
    #app #timelines .timelines-container.child .plan-timeline .date-intervals rect {
      fill: #090; }
    #app #timelines .timelines-container.child .fact-timeline .date-range {
      fill: rgba(255, 0, 0, 0.3); }
    #app #timelines .timelines-container.child .fact-timeline .date-intervals rect {
      fill: #f00; }
    #app #timelines .timelines-container.child .fact-timeline .detalization .fact-record {
      fill: #f00;
      stroke: none; }
    #app #timelines .timelines-container.child .fact-timeline .detalization text {
      font-weight: bold;
      fill: #f00;
      text-anchor: middle;
      transition: fill .3s; }
      #app #timelines .timelines-container.child .fact-timeline .detalization text.lighten {
        fill: #ffb3b3; }
    #app #timelines .timelines-container rect.cell-badge {
      fill: #ccc;
      stroke: #b3b3b3; }
      #app #timelines .timelines-container rect.cell-badge.has-new {
        fill: orange;
        stroke: #cc8400; }
    #app #timelines .timelines-container .cell-badge-text {
      text-anchor: end;
      font-size: 9px;
      fill: black; }
      #app #timelines .timelines-container .cell-badge-text.has-new {
        fill: white; }
    #app #timelines .timelines-container .date-intervals rect,
    #app #timelines .timelines-container .date-range {
      transition: fill .1s; }

#app #nodes .node .label div {
  box-sizing: border-box;
  background: #bbb;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 7px;
  font-size: 14px;
  color: black;
  transition: background .1s; }
  #app #nodes .node .label div .description {
    display: block;
    font-size: 10px;
    line-height: 9px; }

#app #nodes .node.troubleshooting .label div {
  border: 3px dashed #8c8c8c; }

#app #nodes .node.troubleshooting.workorder .label div {
  border-color: #383838; }

#app #nodes .node.hover .label div {
  background: #ffdd99 !important;
  box-shadow: 0 0 0 3px #fa0 inset; }

#app #nodes .node.selected .label div {
  background: #fa0 !important; }

#app #nodes .node.empty {
  cursor: default; }
  #app #nodes .node.empty .label div {
    color: #494949; }

#app #nodes .node.linked .label div, #app #nodes .node.exact_match .label div {
  background: #707070;
  color: white; }

#app #nodes .node.contain_match .label div {
  background: #9f9f9f; }

#app #menu-del-dia {
  cursor: pointer;
  font-family: FontAwesome; }
  #app #menu-del-dia a {
    fill: #888;
    text-anchor: middle;
    dominant-baseline: central; }
    #app #menu-del-dia a text:hover {
      fill: black; }
  #app #menu-del-dia .filter-button {
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 20px; }

#day-select {
  pointer-events: all; }
  #day-select rect {
    fill: rgba(255, 170, 0, 0.2);
    stroke: #fa0; }

#axis {
  cursor: pointer; }
  #axis .axis path,
  #axis .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges; }
  #axis .axis .domain {
    display: none; }
  #axis .axis.days text {
    transition: font-size 0.15s;
    font-family: sans-serif;
    font-size: 11px;
    fill: #333;
    text-shadow: 0px 1px 1px #fff; }
  #axis .axis.days.selected text {
    fill: #888; }
  #axis .axis.days.selected .selected-day text {
    fill: black; }
  #axis .axis.months .month-names {
    opacity: 0.12; }
    #axis .axis.months .month-names .name {
      font-size: 60px;
      font-weight: bold; }
  #axis .axis.months .month-ticks {
    opacity: 0.5; }

#date-ranges .plan, #date-ranges .fact {
  transition: fill .3s, stroke .3s; }

#date-ranges path {
  stroke-width: 3;
  shape-rendering: crispEdges; }

#date-ranges text {
  text-anchor: end;
  font-size: 10px;
  stroke: none; }

#date-ranges .plan {
  stroke: #696;
  fill: #696; }
  #date-ranges .plan.child {
    stroke: #090;
    fill: #090; }

#date-ranges .fact {
  stroke: #966;
  fill: #966; }
  #date-ranges .fact.child {
    stroke: #f00;
    fill: #f00; }

#cell-highlight .link {
  fill: #f5f5dc;
  stroke: #a3a32f;
  opacity: 0.3; }

#cell-highlight .mark {
  fill: #f5f5dc;
  stroke: #7c7c23; }

#node-flash,
#cell-flash {
  fill: orange; }
