@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url(http://fonts.gstatic.com/s/ptsansnarrow/v7/Q_pTky3Sc3ubRibGToTAYnhM4mdXpoxYNWk7Ev34U70.woff) format("woff"); }
.groups rect.screen {
  fill: rgba(153, 187, 255, 0.4);
  stroke: #003399; }
.groups rect.print {
  visibility: hidden;
  fill: white;
  stroke: black; }

.node circle.screen {
  cursor: pointer;
  fill: #fff;
  stroke: #003399;
  stroke-width: 1.5px;
  transition: fill .75s, stroke-width .3s; }
.node circle.print {
  visibility: hidden;
  fill: black;
  stroke: white;
  stroke-width: 1px; }
.node text {
  font-size: 10px;
  font-family: sans-serif; }
.node #anchor {
  opacity: 1;
  transition: opacity .1s .3s;
  cursor: pointer; }
  .node #anchor rect {
    fill: rgba(255, 255, 255, 0.65);
    stroke: #ddd;
    stroke-width: 0.5; }
  .node #anchor:hover rect {
    fill: #fff; }
  .node #anchor .button circle {
    stroke-width: 0.5;
    stroke: #ddd;
    fill: white;
    opacity: 0;
    transition: opacity .3s, stroke-width .3s, fill .75s; }
  .node #anchor .button:hover circle {
    stroke-width: 6;
    opacity: 1; }
  .node #anchor text {
    fill: #003399;
    font-family: "FontAwesome";
    font-size: 14px;
    text-anchor: middle;
    dominant-baseline: middle; }
.node.parent circle:hover {
  stroke-width: 3px; }
.node.parent text:hover {
  cursor: pointer; }
.node.collapsed circle {
  fill: #ccddff; }
.node.solo circle {
  fill: #FBBB09; }

.link {
  cursor: pointer;
  fill: none;
  stroke: #ddd;
  stroke-width: 5px;
  transition: stroke-width .75s; }
  .link.highlight {
    stroke-width: 12px;
    transition: stroke-width .15s; }
  .link.select {
    stroke: #fcd35f;
    stroke-width: 12px; }
  .link.node-select {
    stroke: #b3c2e0;
    stroke-width: 12px; }

.guide line {
  stroke: white;
  stroke-width: 1.0px; }
.guide text {
  font-family: "PT Sans Narrow", sans-serif;
  text-anchor: middle;
  stroke: white;
  cursor: pointer;
  fill: #F2F2F2;
  font-weight: bold; }
  .guide text.top {
    alignment-baseline: hanging; }
  .guide text:hover {
    fill: #ddd; }
